language: node_js
node_js:
         - "8.9.4"

before_install:
        - "docker build --rm --build-arg GIT_COMMIT=$LASTEST_TAG -t pxt-container-stm32-iot-node:latest https://github.com/LabAixBidouille-STM32/pxt-container-stm32-iot-node.git" 
script:
        - "docker run --rm pxt-container-stm32-iot-node:latest pxt buildtarget"
        - "docker run --rm pxt-container-stm32-iot-node:latest pxt testdir tests"
sudo: false
notifications:
  email:
    recipients:
      - pxt@labaixbidouille.com
    on_success: never
    on_failure: always
